
*.v2
/FINTech/.vs/FINTech/DesignTimeBuild
/FINTech/.vs/FINTech
/FINTech/.vs
/FINTech/.vs
/FINTech/.vs/FINTech/v17
/FINTech/.vs/FINTech
/FINTech/.vs
FINTech/.vs/FINTech/DesignTimeBuild/.dtbcache.v2
FINTech/.vs/FINTech/v17/.futdcache.v2
FINTech/.vs/FINTech/v17/.suo
FINTech/.vs/ProjectEvaluation/fintech.metadata.v7.bin
FINTech/.vs/ProjectEvaluation/fintech.projects.v7.bin
FINTech/CheckSumCalculator/obj/CheckSumCalculator.csproj.nuget.dgspec.json
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/apphost.exe
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.AssemblyInfo.cs
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.AssemblyInfoInputs.cache
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.assets.cache
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.csproj.FileListAbsolute.txt
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.csproj.GenerateResource.cache
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.dll
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.GeneratedMSBuildEditorConfig.editorconfig
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.genruntimeconfig.cache
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.pdb
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/CheckSumCalculator.sourcelink.json
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/ref/CheckSumCalculator.dll
FINTech/CheckSumCalculator/obj/Debug/net8.0-windows/refint/CheckSumCalculator.dll
FINTech/CheckSumCalculator/obj/project.assets.json
FINTech/CheckSumCalculator/obj/project.nuget.cache
